<app-carousel [images]="images"></app-carousel>
<div class="">
  <div class="grid grid-cols-2 py-6 gap-4 text-center items-center m-4">
    <img src=" ../assets/images/alimentos-para-aumentar-masa-muscular.jpg" class="w-96 flex m-auto rounded-2xl">
    <h1 class="p-4 text-2xl">En NutrixPE te ofrecemos un plan de alimentación para cada aumentar tu masa muscular</h1>
  </div>
  <div class="grid grid-cols-2 py-4 gap-4 text-center items-center m-4">
    <h1 class="p-4 text-2xl">Te ofrecemos un plan de alimentación para cada comida en cada dia de la semana</h1>
    <img src="../assets/images/c2163765395fd26d955ebdb997439b7f.jpg" class="w-96 flex m-auto rounded-2xl">
  </div>
  <div class="grid grid-cols-2 py-4 gap-4 text-center items-center m-4">
    <img src="../assets/images/shutterstock_1203141514.webp" class="w-96 flex m-auto rounded-2xl">
    <h1 class="p-4 text-2xl">Te ofrecemos un plan de alimentación para mejorar tu digeston</h1>
  </div>
</div>